html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #282828;
}
.banner {
 /*  width: 1200px; */
  margin: 0 auto;
}
/*---- 头部 ----*/
header {
  height: 77px;
  line-height: 77px;
  color: #fff;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2b9fbb, bb, endColorstr=#ff1e8199, 99);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2b9fbb, endColorstr=#ff1e8199)";
  background: -webkit-linear-gradient(top, #446b6f, #446b6f);
  background: -moz-linear-gradient(top, #446b6f,#446b6f);
  background: -ms-linear-gradient(top, #446b6f, #446b6f);
  background: -o-linear-gradient(top, #446b6f, #446b6f);
  background: linear-gradient(top, #446b6f, #446b6f);
  -webkit-box-shadow: 0 0 10px 0 #999;
  -moz-box-shadow: 0 0 10px 0 #999;
  -o-box-shadow: 0 0 10px 0 #999;
  box-shadow: 0 0 10px 0 #999;
  position: relative;
  z-index: 100;
}
header .title {
  font-size: 25px;
  font-weight: 500;
  text-shadow: 0 1px 10px #000;
  padding: 0 12px 0 22px;
  z-index: 100;
}
header .line {
  width: 2px;
  height: 25px;
  margin-top: 28px;
  background-color: #107791;
}
header .intro {
  font-size: 16px;
  padding: 0 15px;
}
header .version,
header .logout {
  display: inline-block;
  color: #FFF;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 10000px;
  background-color: #0c7690;
}
header .logout {
  font-style: normal;
}
header .manager {
  margin-right: 30px;
}
/*---- 核心部分部分 ----*/
section.content {
  height: 100%;
  padding-top: 77px;
  margin-top: -77px;
  box-sizing: border-box;
  position: relative;
  z-index: 50;
  /*---- 导航部分 ----*/
}
section.content nav {
  width: 233px;
  background: #394154;
  position: absolute;
  top: 77px;
  left: 0;
  bottom: 0;
  z-index: 50;
}
section.content nav > aside .nav-title {
  width: 233px;
  height: 47px;
  color: #ffffff;
  line-height: 47px;
  margin-bottom: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #394154;
  position: relative;
  cursor: pointer;
}
section.content nav > aside .nav-title:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
section.content nav > aside .nav-title:hover.sub:after {
  border-color: #FFF;
}
section.content nav > aside .nav-title:hover.sub.open:after {
  border-color: #FFF;
}
section.content nav > aside .nav-title.sub:after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #72828c;
  border-bottom: 2px solid #72828c;
  -moz-transform-origin: 50% 50%;
  -moz-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -o-transform-origin: 50% 50%;
  -o-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  position: absolute;
  right: 15px;
  top: 15px;
}
section.content nav > aside .nav-title.sub.open:after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #72828c;
  border-bottom: 2px solid #72828c;
  -moz-transform-origin: 50% 50%;
  -moz-transform: rotate(135deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotate(135deg);
  -o-transform-origin: 50% 50%;
  -o-transform: rotate(135deg);
  -ms-transform-origin: 50% 50%;
  -ms-transform: rotate(135deg);
  transform-origin: 50% 50%;
  transform: rotate(135deg);
  position: absolute;
  right: 14px;
  top: 20px;
}
section.content nav > aside .nav-title i.iconfont {
  font-size: 18px;
  margin: 0 5px 0 25px;
}
section.content nav > aside .nav-title span {
  font-size: 16px;
}
section.content nav > aside .subnav {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
section.content nav > aside .subnav.on {
  height: auto;
  max-height: 300px;
}
section.content nav > aside .subnav li {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  line-height: 47px;
  cursor: pointer;
}
section.content nav > aside .subnav li:hover {
  color: #FFF;
  background: #596787;
}
section.content nav > aside .view-change {
  line-height: 47px;
  padding-left: 15px;
}
section.content nav > aside .view-change .change-btn {
  display: inline-block;
  width: 75px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
section.content nav > aside .view-change .change-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
section.content nav .bc-change {
  color: #FFF !important;
  background: rgba(255, 255, 255, 0.2) !important;
}
section.content .panel-main {
  background-color: tomato;
  position: absolute;
  top: 77px;
  left: 233px;
  right: 0;
  z-index: 12;
  bottom: 0;
}
section.content .panel-main > iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
